.card-container {
    padding: 50px 30px 43px;
    background: #fff;
    border-radius: 6px;
    transition: all linear 0.3s;
    visibility: visible;
    animation-duration: 2000ms;
    animation-delay: 200ms;
    animation-name: fadeInUp;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

.card-icon {
    display: inline-block;
    border-radius: 20px;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    background: linear-gradient(135deg, #84bcfa 0%, #2b70fa 100%);
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
    position: relative;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    padding-top: 33px;
    padding-bottom: 10px;
}

.card-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #505056;
    margin: 0px;
}

.card-icon>span {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    background: #2b70fa;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 3px 6px 0px rgb(14 17 51 / 10%);
    line-height: 28px;
    color: #fff;
}