.exercises {
    padding-bottom: 100px;
    padding-top: 90px;
}

.exercises-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    cursor: pointer;
}

.exericse-title {
    padding-bottom: 75px;
    text-align: center;
}

.exericse-title h3 {
    font-size: 44px;
    line-height: 54px;
}

.exercise-card {
    visibility: visible;
    animation-duration: 3000ms;
    animation-delay: 200ms;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-top: 30px;
    border: 1px solid #f8452d;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
}

.exercise-thumnail {
    max-width: 100%;
}

.exercise-content h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 8px;
}